

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , "sans-serif","Helvetica","Arial"
}

body {
  background-color: rgb(29, 26, 26);
  color:white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

.flex-simple{
  display: flex;
  width:80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:5rem auto;
}



header {
  width:100%;
  padding: 1rem 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.play-btn{
  top: 10px;
  left: 150px;
  width:auto;
  font-size: 1.3rem;
background:   #56a5eb;
padding:1rem 0.5rem;
border-radius: 8px;
}

.play-btn:hover{
  transition: transform 150ms;
transform: scale(1.03);
cursor:pointer;

}


/* Quiz  */
.quiz-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100%;

}

.quiz-container > h2{
  
  margin-bottom: 1rem;
}

.btn-container{
  
margin: 2rem 0rem;

}

.btn-container .btn{
  max-width: 200px; 
  margin: 5px; 
  padding:20px 0;
}

.btn {
  font-size: 2rem;
  width: 30rem;
  text-align: center;
  text-decoration: none;
  color: rgb(28, 26, 26);
  background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
  border-radius: 4px;
}



.choice-container {
  color: rgb(29, 26, 26);
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}


.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.incorrect {
  background-color: #ff00005d;
}

.correct {
  background-color: #00ff005d;
}
.disabled {
  cursor: not-allowed;
}


/* Form  */
form{
  position: fixed;
left: 25%;
  top: 100;
  height: 100%;
  width: 100%;
}

form input,
form select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  font-size:1.2rem;
}



form label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
  font-size:1.2rem;

}


@media only screen and (max-width: 600px) {

  header {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
  }

  h2{
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .flex-simple{
    margin:0 auto;
  }
  
  .play-btn {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .quiz-container {
    margin-top: 2rem;
  }
  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-container .btn {
    padding: 10px;
    font-size: 1.5rem;
  }

  .choice-container {
    font-size: 1.2rem;
  }

  .choice-prefix {
    padding: 0.5rem 2rem;
  }

  .choice-text {
    padding: 1rem;
  }

}

@media only screen and (max-width: 428px) {

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .wrap .play-btn{
  margin:0.5rem 1rem
 }
}

/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.show {
  display: block;
}

/* Transparent Overlay */
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.spinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.spinner:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

